<%- include("partials/full-header.ejs") %>
    <main>
        <div class="lists-container">
            <% if (locals.notes){ %>
                <% notes.forEach((note) => { %>
                    <div class="list-box">
                        <div class="list-content">
                            <div class="list-title">
                                <h2>
                                    <%= note.title %>
                                </h2>
                            </div>
                            <div class="list-content">
                                <p>
                                    <%= note.content %>
                                </p>
                            </div>
                        </div>
                        <div class="list-sub">
                            <div class="list-data">
                                <p><%= note.last_updated %></p>
                            </div>
                            <div class="list-update">
                                <div class="list-edit">
                                    <form action="/edit" method="POST">
                                        <input type="hidden" name="editId" value="<%= note.id %>">
                                        <input type="hidden" name="editTitle" value="<%= note.title %>">
                                        <input type="hidden" name="editContent" value="<%= note.content %>">
                                        <label for="<%= note.id %>">Edit</label>
                                        <input id="<%= note.id %>" type="submit" hidden>
                                    </form>
                                </div>
                                <div class="list-delete">
                                    <form action="/delete" method="post">
                                        <input type="hidden" name="deleteId" value="<%= note.id %>">
                                        <label for="<%= note.id %>">Delete</label>
                                        <input id="<%= note.id %>" type="submit" hidden>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>    
        </div>
    </main>
</body>
</html>