<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <style>

    </style>
</head>
<body>
    <header>
        <div>
            <i class="fa-solid fa-arrow-left"></i>
        </div>
    </header>
    <main>
        <div class="details">
            <ul>
                <li><%= locals ? userDetails.full_name : "" %></li>
                <li><%= locals ? userDetails.country : "" %></li>
                <li><%= locals ? userDetails.gender : "" %></li>
                <li><%= locals ? userDetails.hobbies : "" %></li>
                <li><%= locals ? userDetails.total_notes : "" %></li>
            </ul>
            <button class="editButton">Edit</button>
        </div>

        <div class="detailsEdit">
            <form action="/saveUpdate" method="post">
                <input type="number" name="userId" value="<%= locals ? userId : "" %>">
                <input type="number" name="id" value="<%= locals ? userDetails.user_id : 0 %>">
                <input type="text" name="fullName" value="<%= locals ? userDetails.full_name : "" %>">
                <input type="text" name="country" value="<%= locals ? userDetails.country : "" %>">
                <input type="text" name="gender" value="<%= locals ? userDetails.gender : "" %>">
                <input type="text" name="hobbies" value="<%= locals ? userDetails.hobbies : "" %>">
                <input type="submit" value="Save">
            </form>
            <button class="cancelEdit">Cancel</button>
        </div>
    </main>
    <script>

    </script>
</body>
</html>